.button {
    height: 50px;
    width: 100%;
    background: #43b05c;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
    user-select: none;

    &:focus {
        outline: none;
    }

    &:hover {
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
    }

    &:active {
        filter: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.red {
    background: rgb(250, 54, 19);
}

.hollow {
    background: white;
    color: #43b05c;
    border: solid 1px #43b05c;
}
