.wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 50%);
}

.recovery {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    margin-top: 10%;
}