.formWrapper {
    width: 500px;
    height: 410px;
    background: #f1f0f0;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto;
    grid-template-areas:
        'Header'
        'Form';
    border-radius: 8px;
    padding: {
        top: 1vh;
        bottom: 0.5vh;
        right: 1.5vw;
        left: 1.5vw;
    }

    h4 {
        font-weight: 700;
        grid-area: Header;
        justify-self: start;
        color: #545454;
    }

    form {
        grid-area: Form;
        place-self: center;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
            'Inputs'
            'Button';
        
        button {
            grid-area: Button;
            place-self: center;
        }
    }
}

@media screen and (max-width: 1370px) {
    .formWrapper {
        width: 450px;
    }
}

@media screen and (max-width: 1280px) {
    .formWrapper {
        width: 370px;
    }
}

@media screen and (max-width: 1100px) {
    .formWrapper {
        width: 326px;
    }
}

@media screen and (max-width: 970px) {
    .formWrapper {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .formWrapper {
        width: 350px;
    }
}

@media screen and (max-width: 800px) {
    .formWrapper {
        width: 335px;
    }
}

@media screen and (max-width: 768px) {
    .formWrapper {
        width: 570px;
    }
}

@media screen and (max-width: 640px) {
    .formWrapper {
        width: 430px;
    }
}

@media screen and (max-width: 480px) {
    .formWrapper {
        width: 330px;
    }
}

@media screen and (max-width: 360px) {
    .formWrapper {
        width: 300px;
    }
}