.user {
    height: calc(100vh + 130px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 130px;
    grid-template-areas: 
        'userHeader'
        'userBody'
        'userFooter';
}

.body {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'sidebar content';
}

.content {
    padding: {
        top: 2.5vh;
        bottom: 3vh;
        left: 3vw;
        right: 1.5vw;
    };
}