.form {
    background: #f1f0f0;
    width: 60%;
    height: 40%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% repeat(2, 4.5vh) 5% 15% repeat(2, 5%);
    gap: 2.5vh;
    padding: {
        top: 1.5vh;
        left: 6%;
        right: 6%;
        bottom: 2vh;
    }

    h4 {
        color: #545454;
    }

    button {
        place-self: center;
    }

    p {
        cursor: pointer;
        color: #545454;

        &:hover {
            text-decoration: underline;
        }
    }
}

.registration {
    place-self: center;
    cursor: pointer;
    color: #545454;

    &:hover {
        text-decoration: underline;
    }
}
