.form {
    background: #f1f0f0;
    width: 60%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 4.5vh auto;
    gap: 2.5vh;
    padding: {
        top: 1.5vh;
        left: 6%;
        right: 6%;
        bottom: 2vh;
    }
    animation: fade-in 300ms forwards;

    h4 {
        color: #545454;
    }

    button {
        place-self: center;
    }

    p {
        color: #545454;
        font-size: 14px;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}