.app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
}

.sun {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 100px;
    width: 15%;
}

.earth {
    will-change: transform;
    width: 50vw;
    height: 50vw;
    // width: 50%;
    // height: 50%;
    // object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.moon {
    will-change: transform;
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 15%;
}

.verse {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
