.app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
}

.sun {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 100px;
}

.earth {
    will-change: transform;
    width: 50%;
    object-fit: contain;
    margin: 0 auto;
}

.moon {
    will-change: transform;
    position: absolute;
    bottom: 0;
    right: 40px;
}

.verse {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
