.sidebarItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.results {
    display: flex;
    column-gap: 15px;
    width: 100%;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.score {
    display: flex;
    font-weight: 700;
    color: #545454;
    gap: 5px;
}

.points {
    color: #E5C100;

    fill: #E5C100;

}

.orange {
    color: #EC7D1A;

    fill: #EC7D1A;;
}

.certificates {
    display: flex;
    gap: 10px;
    font-weight: 700;
    color: #545454;
}

.name {
    color: #43B05C;
    font-size: 1em;
    font-weight: 700;
}