.wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 50%);
}

.logo {
    width: 80%;
}

.signUp {
    padding: {
        top: 2vh;
    };
    display: flex;
    justify-content: center;
    align-items: flex-start;
}