.home {
    display: grid;
    row-gap: 2.5vh;

    ul {
        overflow-y: auto;
        height: 82vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, 360px);
        gap: 2vw;
        padding: {
            left: 1vw;
            top: 1.5vh;
        }
    }
}

.header {
    place-self: center;
    color: #545454;
}
