.student {
    display: grid;
    grid-template-columns: 55% 20% auto auto;
    gap: 15px;
    scale: 1;
    transition: scale 0.5s ease;
    padding: {
        left: 5px;
        right: 5px;
    }
}

.remove {
    cursor: pointer;
    fill: #888888;
    user-select: none;
    transition: scale 0.1s ease;

    &:hover {
        scale: 1.1;
        fill: #6d6d6d;
    }
}

@media screen and (max-width: 560px) {
    .student {
        grid-template-columns: 45% 20% 15% auto;
    }
}

@media screen and (max-width: 500px) {
    .student {
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 4.5vh);
        grid-template-areas:
            'input input input'
            'select score remove';
        row-gap: 5px;
        column-gap: 5px;
        width: 95%;
    }

    .name {
        grid-area: input;
    }

    .remove {
        place-self: center;
    }
}
