.student {
    display: grid;
    grid-template-columns: 55% 20% auto auto;
     column-gap: 2vh;
}

.remove {
    cursor: pointer;
    fill: #888888;
    user-select: none;
    transition: scale 0.1s ease;

    &:hover {
        scale: 1.1;
        fill: #6d6d6d;
    }
}