.form {
    background: #f1f0f0;
    width: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: {
        top: 15px;
        bottom: 15px;
        left: 20px;
        right: 20px;
    }
    animation: fade-in 300ms forwards;

    h4 {
        color: #545454;
    }

    button {
        place-self: center;
    }

    p {
        color: #545454;
        font-size: 14px;
    }
}

.field {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 4vh;
    color: #545454;
    gap: 5px;
}

@media screen and (max-width: 1280px) {
    .form {
        width: 450px;
    }
}

@media screen and (max-width: 970px) {
    .form {
        width: 400px;
    }
}

@media screen and (max-width: 850px) {
    .form {
        width: 500px;
    }
}

@media screen and (max-width: 640px) {
    .form {
        width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .form {
        width: 100%;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}