.quiz {
    height: calc(100vh + 130px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 130px;
    grid-template-areas: 
        'Header'
        'Body'
        'Footer';
}