.header {
    display: grid;
    height: 80px;
    grid-template-columns: 15% auto 20%;
    grid-template-rows: 1fr;
    grid-template-areas: 'home bar avatar';
    background: url('../../../assets/images/header-image.svg') no-repeat;
    background-size: cover;
}

.cat {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 149px;
}

.home {
    grid-area: home;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    align-self: center;
    justify-self: end;
}

.controls {
    grid-area: avatar;
    display: flex;
    column-gap: 1vw;
    align-items: center;
    user-select: none;

    svg {
        cursor: pointer;
    }
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .header {
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 'home avatar';
        padding: {
            left: 20px;
            right: 20px;
        };
    }

    .cat {
        display: none;
    }

    .home {
        justify-self: start;
    }

    .controls {
        justify-self: end;
    }
}
