.header {
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: 1fr;
    grid-template-areas: 'bar avatar';
    background: url('../../../assets/images/header-image.svg') no-repeat;
    background-size: 100vw auto;
}

.controls {
    grid-area: avatar;
    display: flex;
    column-gap: 1vw;
    align-items: center;

    svg {
        cursor: pointer;
    }
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.dropDown {
    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    position: absolute;
    background: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
    top: 8vh;
    padding: 1.5vh;
    display: grid;
    grid-template-rows: 20% auto;
    row-gap: 1vh;
    animation: appear 0.3s forwards;
    z-index: 1;

    li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            background: #dadada;
            transition: background 0.3s ease;
        }
    }

    h4 {
        color: #545454;
        place-self: center;
    }
}
