.header {
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: 1fr;
    grid-template-areas: 'bar avatar';
    background: url('../../../assets/images/header-image.svg') no-repeat;
    background-size: 100vw auto;
}

.controls {
    grid-area: avatar;
    display: flex;
    column-gap: 1vw;
    align-items: center;

    svg {
        cursor: pointer;
    }
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
