.wrapper {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #545454;

    input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input[type='radio']:checked + .checkmark {
        background: #43b05c;

        &::after {
            display: block;
        }
    }
}

.checkmark {
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        display: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: white;
    }

    &:hover {
        background: rgb(213, 213, 213);
    }
}
