.progress {
    position: relative;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background: conic-gradient(#ED771C 3.6deg, #F2F2F2 0deg);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        background-color: #F2F2F2;;
    }

    span {
        position: relative;
        font-weight: 700;
        color: #ED771C;
        font-size: 1.5em;
    }
}